<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krt.gov.operationLog.mapper.GovOperationLogMapper">

    <sql id="Base_Column_List">
        id,username,device_id,device_name,product_id,port,action,inserter,insert_time,updater,update_time
    </sql>

    <!-- 带参数查询用户操作日志列表 -->
    <select id="selectPageList" resultType="com.krt.gov.operationLog.entity.GovOperationLog">
        select
        <include refid="Base_Column_List"/>
        from gov_operation_log where 1=1
        <if test="username !=null and username!=''">
            and username like concat('%',#{username},'%')
        </if>
        <if test="deviceId !=null and deviceId!=''">
            and device_id like concat('%',#{deviceId},'%')
        </if>
    </select>

</mapper>

